.socialContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socialIcon {
  width: 42.06;
  height: 42.23px;
  cursor: pointer;
}
@media only screen and (max-width: 520px) {
  .socialIcon {
    width: 30px;
    height: 30px;
  }
}
