.sideImage {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 1;
  width: 18.8px;
}
@media only screen and (max-width: 520px) {
  .sideImage {
    left: 10px;
    width: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .sideImage {
    left: 5px;
  }
}
